{% macro render_blog_post(post, from_index=false) %}
<article>
    <h3 class="post-title">
        <a href="{{ post|url }}">{{ post.title }}</a>
        <small>Écrit par <a href="#">{{ post.author }}</a> le {{ post.pub_date }}</small>
    </h3>

    <div class="row">
        <div class="large-4 columns">
            <img src="{{ post|url }}{{ post.image }}">
        </div>
        <div class="large-8 columns">
            <p></p>
        </div>
        {{ post.body }}
    </div>

    <p style="margin-bottom: 0;">
        <audio>
            <source style="100%" type="audio/mpeg" src="{{ post.audio_url }}">
        </audio>
    </p>

    <div class="row metainfo">
        <div class="large-4 columns">
            {% if post.links %}
                <ul class="pricing-table">
                    <li class="title">Les liens</h2>
                    {% for item in post.links.blocks %}
                        <li class="bullet-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="large-4 columns">
            {% if post.agenda %}
                <ul class="pricing-table">
                    <li class="title">L’agenda</li>
                    {% for item in post.agenda.blocks %}
                        <li class="bullet-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="large-4 columns">
            {% if post.playlist %}
                <ul class="pricing-table">
                    <li class="title">La playlist</li>
                    {% for item in post.playlist.blocks %}
                        <li class="bullet-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</article>
{% endmacro %}
