<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Source !</title>
    <!-- <link rel="stylesheet" href="{{ '/static/style.css'|url }}"> -->
    <link rel="stylesheet" href="{{ '/static/css/foundation.css'|url }}" />
    <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}"/>
    <script src="{{ '/static/js/vendor/modernizr.js'|url }}"></script>
    <script src="{{ '/static/js/vendor/audio.min.js'|url }}"></script>
  </head>
  <body>

<div class="ribbon">
    <a href="chat.html"><img src="{{ '/static/img/chat.png'|url }}"></a>
</div>
 <div class="header">
     <h1><a href="http://src.brussels">Source ! <small>L'émission libre de Radio Campus Bruxelles. Un vendredi sur deux à 18 heures.</small></a></h1>
</div>

  <div class="row">

    {% block body %}{% endblock %}

  </div>

  <footer>
      <div class="row">
          <div class="large-12 columns">
              <p>Banner photo credit: <a href="http://www.flickr.com/photos/56551021@N06/19348000781">Colors of Patagonia - In Explore 07-02-2015</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by/2.0/">(license)</a></p>

              <p><a href="http://radiocampus.be/" >Radio Campus Bruxelles</a></p>

              <p>
              <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ '/static/img/cc.png'|url }}" /></a>
              <img style="border-width:0" src="{{ '/static/img/cat.png'|url }}">
              </p>
          </div>
      </div>
  </footer>

  <script type="text/javascript" charset="utf-8">
    audiojs.events.ready(function() {
            var a1 = audiojs.createAll();
    })
  </script>
  </body>
</html>
